{% extends 'base.html.twig' %}

{% set title = "Collection" %}

{% block css %}
	{{ parent() }}
{% endblock %}

{% block js %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="row mt-3">
		<div class="d-flex flex-wrap justify-content-around">
			<p class="text-center text-white">Total Investment: {{ totalCurrentPrice|format_currency('GBP') }}</p>
		</div>
		<table id="sortable" class="table table-responsive table-striped table-dark sortable">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col" class="sorttable_numeric">Current Price</th>
					<th scope="col">System</th>
				</tr>
			</thead>
			<tbody>
				{% for game in collection %}
					<tr>
						<td>{{ game.name }}</td>
						<td>{{ game.currentPrice|format_currency('GBP') }}</td>
						<td>{{ game.system.name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}