{% extends 'base.html.twig' %}

{% set title = game.name %}

{% block css %}
	{{ parent() }}
{% endblock %}

{% block js %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="row mt-3">
		<div class="col-md-6 text-white">
			<p><b>Name:</b> {{ game.name }}</p>
			<p><b>System:</b> {{ game.system.name }}</p>
			<p><b>Current Price:</b> {{ game.currentPrice|format_currency('GBP') }}</p>
			<p><b>Age Rating:</b> {{ game.ageRating }}</p>
		</div>
		<div class="col-md-6">
			<img id="boxArt" src="{{ game.boxArtUri }}" alt="{{ game.name }}" />
		</div>
	</div>
{% endblock %}